~/.rdhs.json
pop_data/
tmb/fertility_tmb.o
tmb/fertility_tmb.so
tmb/fertility_tmb_dev.o
tmb/fertility_tmb_dev.so
.Rproj.user
*.o
*.so
*.dll
*.Rproj
C:\Users\os210\AppData\Local\Temp\RtmpWMlCGU/rdhs/rdhs.json
tmb/fertility_tmb_dev.o
tmb/fertility_tmb_dev.dll
tmb/fertility_tmb_dev.o
.Rhistory
.DS_Store
.Rhistory
mods/
presentations/
*.html
/var/folders/4l/bp7vygqx7j305kk1hctqk0mc0000gn/T//RtmptKDgJC/rdhs/rdhs.json
